In [0]:
import warnings
warnings.filterwarnings('ignore')
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline


import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.linear_model import LinearRegression

import tensorflow as tf
from tensorflow import keras
from sklearn import preprocessing

In [0]:
data = pd.read_csv('weather.csv')
df = pd.DataFrame(data)

In [0]:
df.head()

                  Formatted Date  ...                      Daily Summary
0  2006-04-01 00:00:00.000 +0200  ...  Partly cloudy throughout the day.
1  2006-04-01 01:00:00.000 +0200  ...  Partly cloudy throughout the day.
2  2006-04-01 02:00:00.000 +0200  ...  Partly cloudy throughout the day.
3  2006-04-01 03:00:00.000 +0200  ...  Partly cloudy throughout the day.
4  2006-04-01 04:00:00.000 +0200  ...  Partly cloudy throughout the day.

[5 rows x 12 columns]

In [0]:
df.columns

Index(['Formatted Date', 'Summary', 'Precip Type', 'Temperature (C)',
       'Apparent Temperature (C)', 'Humidity', 'Wind Speed (km/h)',
       'Wind Bearing (degrees)', 'Visibility (km)', 'Loud Cover',
       'Pressure (millibars)', 'Daily Summary'],
      dtype='object')

In [0]:
df.shape

(96453, 12)

In [0]:
df.describe

<bound method NDFrame.describe of                       Formatted Date  ...                           Daily Summary
0      2006-04-01 00:00:00.000 +0200  ...       Partly cloudy throughout the day.
1      2006-04-01 01:00:00.000 +0200  ...       Partly cloudy throughout the day.
2      2006-04-01 02:00:00.000 +0200  ...       Partly cloudy throughout the day.
3      2006-04-01 03:00:00.000 +0200  ...       Partly cloudy throughout the day.
4      2006-04-01 04:00:00.000 +0200  ...       Partly cloudy throughout the day.
...                              ...  ...                                     ...
96448  2016-09-09 19:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96449  2016-09-09 20:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96450  2016-09-09 21:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96451  2016-09-09 22:00:00.000 +0200  ...  Partly cloudy starting in the morning.
96452  2016-09-09 23:00:00.000 +0200  ...  Partly cloudy starting in the morning.

[96453 rows x 12 columns]>

In [0]:
df.isnull().any()

Formatted Date              False
Summary                     False
Precip Type                  True
Temperature (C)             False
Apparent Temperature (C)    False
Humidity                    False
Wind Speed (km/h)           False
Wind Bearing (degrees)      False
Visibility (km)             False
Loud Cover                  False
Pressure (millibars)        False
Daily Summary               False
dtype: bool

In [0]:
df['Precip Type'].value_counts()

rain    85224
snow    10712
Name: Precip Type, dtype: int64

In [0]:
df.loc[df['Precip Type'].isnull(),'Precip Type']='rain'

In [0]:
df.loc[df['Precip Type']=='rain','Precip Type']=1

In [0]:
df.loc[df['Precip Type']=='snow','Precip Type']=0

In [0]:
df.head()

                  Formatted Date  ...                      Daily Summary
0  2006-04-01 00:00:00.000 +0200  ...  Partly cloudy throughout the day.
1  2006-04-01 01:00:00.000 +0200  ...  Partly cloudy throughout the day.
2  2006-04-01 02:00:00.000 +0200  ...  Partly cloudy throughout the day.
3  2006-04-01 03:00:00.000 +0200  ...  Partly cloudy throughout the day.
4  2006-04-01 04:00:00.000 +0200  ...  Partly cloudy throughout the day.

[5 rows x 12 columns]

In [0]:
weather_df_num=df[list(df.dtypes[df.dtypes!='object'].index)]

In [0]:
weather_y=weather_df_num.pop('Temperature (C)')

In [0]:
weather_X=weather_df_num

In [0]:
train_X,test_X,train_y,test_y=train_test_split(weather_X,weather_y,test_size=0.2,random_state=4)

In [0]:
train_X.head()

       Apparent Temperature (C)  Humidity  ...  Loud Cover  Pressure (millibars)
70626                 21.061111      0.31  ...         0.0               1005.87
52457                 25.016667      0.36  ...         0.0               1025.36
90690                  0.738889      0.89  ...         0.0               1014.75
69528                 13.772222      0.78  ...         0.0               1014.56
92419                 23.288889      0.82  ...         0.0               1022.05

[5 rows x 7 columns]

In [0]:
df.dtypes

Formatted Date               object
Summary                      object
Precip Type                  object
Temperature (C)             float64
Apparent Temperature (C)    float64
Humidity                    float64
Wind Speed (km/h)           float64
Wind Bearing (degrees)      float64
Visibility (km)             float64
Loud Cover                  float64
Pressure (millibars)        float64
Daily Summary                object
dtype: object

In [0]:
model=LinearRegression()
model.fit(train_X,train_y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [0]:
prediction=model.predict(test_X)

In [0]:
#LinearRegression
LR=np.mean((prediction-test_y)**2)

In [0]:
def print_otp():
  print("TEMPERATURE PREDICTION")
  print("----------------------")
  print("Model Used: Linear Regression")
  print("Model Loss:",LR)
  print("Temperature predicted for tomorrow: ", prediction[1])
  print("----------------------")
  print("Model Used: Decision Tree Regression")
  print("Model Loss:",Dt)
  print("Temperature predicted for tomorrow: ", prediction3[1])

In [0]:
from sklearn.tree import DecisionTreeRegressor
regressor=DecisionTreeRegressor(random_state=0)
regressor.fit(train_X,train_y)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=0, splitter='best')

In [0]:
prediction3=regressor.predict(test_X)
#DecisionTreeRegression
Dt=np.mean((prediction3-test_y)**2)

In [0]:
print_otp()

TEMPERATURE PREDICTION
----------------------
Model Used: Linear Regression
Model Loss: 0.902274371188337
Temperature predicted for tomorrow:  9.418530399794697
----------------------
Model Used: Decision Tree Regression
Model Loss: 0.006723574480775507
Temperature predicted for tomorrow:  8.855555555555554